/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require custom
 *= require_self
 */


/*video-Overlay*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800';

* {
  font-family: 'Open Sans';
}

iframe {
  display: block;
  align: middle;
}

.mm-product-video-modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: none;
  overflow: scroll;
}

.mm-product-video-modal-container.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
}

.embed-responsive {
  margin: 0;
}

.fakearrow {
  width: 48px;
  height: 56px;
}

.video-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pref-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.fa.fa-heart-o {
  margin-left: 10%;
  margin-right: 10%;
}

.mm-product-video-modal-container .fa {
  display: flex;
  color: white;
}

.mm-product-video-modal-close:hover {
  cursor: pointer;
}

.mm-product-video-modal-close {
  color: #fff;
  position: fixed;
  z-index: 1000000000;
  top: 20px;
  right: 20px;
  font-size: 40px;
}

.mm-product-video-modal {
  width: 60%;
  max-height: 800px;
  overflow: scroll;
  position: relative;
  top: -1000px;
  text-align: left;
  border-radius: 4px;
  width: 900px;
}

.mm-product-video-modal.open {
  overflow: hidden;
  top: 0;
  margin-right: -15px;
  /*margin-bottom: 350px;*/
}

.mm-video-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mm-launch-container {
  margin-top: 100px;
}

.mm-launch {
  background: #04b68f;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-weight: 300;
}

.mm-launch-container p {
  text-align: justify;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
}

.mm-launch-container h2 {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.dropper {
    transition: top 0.5s ease-in-out;
}
/*end of video overlay*/

/*active video control icons*/

.fa.fa-heart.fa-5x {
  margin-left: 10%;
  margin-right: 10%;
  color: red;
}

/*end of active video control icons*/

