html, body {
  height: 93%;
}

button {
  outline: none !important;
}

body {
  // background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('background-image.jpg') no-repeat center center fixed;
  background: linear-gradient( to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 100%), url('background-image.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  // -o-background-size: cover;
  background-size: cover;
  // position: relative;

}

main {
  height: 100%;
  // margin-top: 50px;
  position: relative;

}

nav {
  // position: fixed;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  height: 55px;
  z-index: 99;
  top: 0;
}

nav div button {
  text-decoration: none;
  color: #fff;
  margin-right: 30px;
  line-height: 50px;
  float: right;
  margin-top: 8px;
}

main > div {
  height: 100%;
}

main > div > div {
  height: 100%;
}

.landingpage {
  height: 50%;
  opacity: 1;
  position: relative;
}

.outer-wrapper {
  margin-top: 70vh;
}

.wrapper {
  // position: fixed;
  transform: translate(0,-15%);
  font-size: 1.8vw;
  z-index: 13;
  left: 0;
  margin-left: 6%;
  width: 85%;
  position: relative;
}

.slogan {
  color: #fff;
  margin: 0 0 .2em;
  line-height: 1.1em;
  font-weight: 700;
  text-shadow: 1px 1px 10px #000;
}

.long-slogan {
  color: #fff;
  line-height: 1.1em;
  font-weight: 400;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

body > main > div > div > div:nth-child(1) > nav > div > div:nth-child(1) > button {
  background-image: none;
  background-color: #e50914;
  font-family: Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  border: none;
}
body > main > div > div > div.landingpage > div > div.wrapper > div:nth-child(2) > div > button {
  background-image: none;
  background-color: #e50914;
  font-family: Arial,sans-serif;
  padding: 12px 2em;
  min-width: 112px;
  min-height: 44px;
  font-weight: 700;
  letter-spacing: 1.9px;
  text-transform: uppercase;
}

.logo {
  position: fixed;
  top: 10%;
  right: 3%;
}

.logo img {
  width: 300px;
}


.slick-slider {
  width: 85vw;
  margin: auto;
}


.category_title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-shadow: 1px 1px 10px #000;

}

.slick-slide {
  margin-left: 20px;
  margin-right: 20px;
}

.slick-slide img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 2px 4px 3px rgba(0,0,0,2.0);
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.slick-slide > img:hover{
  transform: scale(1.1);
  box-shadow: 2px 4px 3px rgba(0,0,0,0.6);
  z-index: 100;
}

.about-us {
  width: 100%;
  background-color: #1a1a1a;
  height: 75vh;
  box-shadow: 0px 0px 5px #888888;

}

.about-us img {
  width: 30vw;
  display: block;
  margin: auto;
  vertical-align: center;
}

.about-us-text {
  width: 50vw;
  margin: auto;
  font-size: 1.2em;
  color: #ffffff;
  line-height: 1.4em;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  letter-spacing: 0.9px;
}

.header-category {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  color: #fff;
  line-height: 1.1em;
  font-weight: 700;
  text-shadow: 1px 1px 10px #000;
}

.logged-in-nav {
  display: flex;
  width: 12%;
  height: 85%;
  justify-content: center;
  align-items: flex-end;
  float: right;
  color: #fff;
  line-height: 1.1em;
  text-shadow: 1px 1px 2px #000;
  padding: 3px;
  margin-right: 25px;
}

.logged-in-nav > h4 {
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}


.center-block {
  display: block;
  margin: auto;
}

.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blah {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.category-container {
  margin-left: 5%;
  margin-right: 5%;
}

.grid-container{
  display: flex;
  flex-direction: column;
}

.display-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  margin-bottom: 20px;
}

.display-button button {
  border-radius: 40px;
  font-family: Arial,sans-serif;
  padding: 12px 2em;
  font-weight: 700;
  letter-spacing: 1.9px;
  text-transform: uppercase;
}
//
// .display-button button img {
//   width: 80%;
// }

.category-image img {
  box-shadow: 2px 4px 3px rgba(0,0,0,0.6);
  border-radius: 5px;
}

